%-close {
      $c-w: 2.8vw;
    $c-s: 0.2vw;
    position: absolute;
    top: - $padding-top / 2;
    right: - $menu-width / 2;
    cursor: pointer;
    padding: 0.5vh;
    transform: translateX(50%) translateY(-50%);

    div {
      width: $c-w;
      height: $c-w;
      transition: all 450ms;

      &:hover {
        transform: rotate(180deg);
      }

      &:before, &:after {
        position: absolute;
        left: 50%;
        content: ' ';
        width: $c-s;
        height: $c-w;
        background-color: #000;
      }

      &:before {
        transform: translateX(-50%) rotate(-45deg);
      }

      &:after {
        transform: translateX(-50%) rotate(45deg);
      }
    }
}